.menu-item{
	display: flex;
	justify-content: flex-end;
	list-style: none;
	.item{
		padding: 0 10px;
		position: relative;
		img{
			width: 22px;
			height: 22px;
			border-radius: 100%;
			
		}
	}
}